<header>
  <span class="logo" data-scroll>Fixed Nav</span>
  <nav class="nav-collapse">
    <ul>
      <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Personal</a>
        <div class="dropdown-content">
          <a href="#/accepted">Accepted</a>
          <a href="#/rejected">Rejected</a>
        </div>
      </li>
      <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Business</a>
        <div class="dropdown-content">
          <a href="#/acceptedBusiness">Accepted</a>
          <a href="#/rejectedBusiness">Rejected</a>
        </div>
      </li>
      <!-- <li class="list-item"><a href="#/about" data-scroll>Business</a></li>-->
      <li class="list-item"><a href="#nosubmit" data-scroll>No Submit</a></li> 
      <li class="list-item"><a href="#logout" data-scroll>Logout</a></li>
    </ul>
  </nav>
</header>