<header>
  <a href="#home" class="logo" data-scroll>Fixed Nav</a>
  <nav class="nav-collapse">
    <ul>
      <li class="list-item"><a href="#/dashboard" data-scroll>Home</a></li>
      <li class="list-item"><a href="#/about" data-scroll>About</a></li>
      <li class="list-item"><a href="#projects" data-scroll>Projects</a></li>
      <li class="list-item"><a href="#blog" data-scroll>Blog</a></li>
      <li class="list-item"><a href="http://www.google.com" target="_blank">Google</a></li>
    </ul>
  </nav>
</header>